html{
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #28a745;
    color: white;
    padding: 20px;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


nav ul li:not(:last-child)::after {
    content: "|";
    color: white;
    position: static;
    right: -10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    display: inline-block;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

#speakers{
    text-align: center;

}

h2 {
    color: #007bff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}
#odd {
    background-color: whitesmoke;
}
.speaker {
    display: inline-block;
    text-align: center;
    margin: 20px;
}

.speaker img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #ddd;
}

.speaker h3 {
    margin: 10px 0 5px;
}

.speaker p {
    color: #666;
}
.contact-container {
    display: flex;
    align-items: center;  /* Alinea verticalmente */
    gap: 20px;            /* Espacio entre los elementos */
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.contact-info {
    width: 50%;
}

.map-container {
    width: 50%;
    height: 200px; /* Ajusta según necesites */
}
